@import url(masterCSS.css);
@import url(contentBox.css);

#loginUI{
	position:absolute;
	top:120px;
	left:20%;
	right:35%;
	width:600px;
	z-index:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#loginUIContentBoxMiddle{
	position:relative;
	margin-top:0px;
	min-height:200px;
	width:100%;
	padding-top:10px;
	float:left;
}
#loginUIContent{
	width:580px;
	margin-left:10px;
	background-color:#FFFFFF;
}

#webmailTan{
	position:relative;
	top:20px;
	left:90px;
	right:100px;
	width:400px;
	height:270px;
}

#loginUIForm{
	position:relative;
	padding:30px 10px 10px 10px;
	font-size:14px;
}

#loginUIFooter{
	position:relative;
	font-size:10px;
	text-align:center;
	line-height:3px;
}

#loginFooter{
	position:relative;

	text-align:center;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:300px;
}
