body{
	top:0px;
	left:0px;
	height:768px;
	width:800px;
	background-image:url(images/webmail-v2-bg0_01.png);
	background-repeat:repeat-x;
	background-attachment:scroll;
	overflow:auto;
}
#bg1{
	position:fixed;
	top:0px;
	left:0px;
	background-image:url(images/webmail-v2-bg1_03.png);
	width:100%;
	height:141px;
	z-index:1;
	
}
#bg2{
	position:fixed;
	top:105px;
	left:0px;
	width:100%;
	height:47px;
	background-image:url(images/webmail-v2-grayBar_06.png);
	background-repeat:repeat-x;
	z-index:3;
	
}
#webmailLogo{
	position:fixed;
	top:50px;
	left:5px;
	width:290px;
	height:57px;
	z-index:1;
}
.clearBottom {
	font-size:1px;
	height:1px;
}
.copyright{
	text-align:center;
	color:#666666;
}
